/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navigation bar */
#nav {
  width: 100%;
  height: 72px;
  background-color: #4284DB;
  border-radius: 20px;
  margin: 20px 0;
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#nav>ul {
  display: flex;
  align-items: center;
}

#nav>ul>li {
  margin-right: 10px;
}

#nav>ul>li>a {
  padding: 0 10px;
  font-size: 20px;
  color: black;
  text-decoration: none; /* 添加这行代码 */
}

#nav>ul>li>a:hover {
  color: #29EAC4;
}

#nav>ul>li>.a1 {
  color: black;
}

#nav>ul>li>.a2 {
  color: black;
}


.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #0077b6;
  color: #fff;
  transition: width 0.3s ease;
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  border-top-right-radius: 20px; /* 右侧顶部圆角 */
  border-bottom-right-radius: 20px; /* 右侧底部圆角 */
}

/* Collapsed state of sidebar */
.sidebar.collapsed {
  width: 0;
  overflow: hidden;
}

/* Hide toggle button when sidebar is collapsed */
.collapsed #toggleBtn {
  display: none;
}

/* Style for sidebar links */
.sidebar ul {
  list-style: none;
  padding: 20px;
}

.sidebar ul li {
  margin-bottom: 15px;
}

.sidebar ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

/* 图片样式 */
.sidebar img {
  max-width: 20%; /* 图片最大宽度为其父元素宽度 */
  height: auto; /* 高度自动调整，保持比例 */
  display: none; /* 初始状态下隐藏图标 */
  position: absolute; /* 绝对定位 */
  top: 10px; /* 调整图标位置 */
  left: 10px; /* 调整图标位置 */
}

/* 边栏展开时显示图标 */
.sidebar:not(.collapsed) img {
  display: block; /* 边栏展开时显示图标 */
}



/* Styling for main content area */
.content {
  padding: 20px;
  margin-left: 250px;
}

/* Toggle button style */
#toggleBtn {
  background-color: #4284DB;
  color: #fff;
  border: none;
  padding: 10px;
  font-size: 16px;
  margin: 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

#toggleBtn:hover {
  background-color: #29EAC4;
}
